.login-container {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.login-container .header {
  margin-bottom: 30px;
}
.newLoginMessage {
  width: 500px;
  margin: 20px auto;
}
.ui.button.demo-login {
  margin-top: 10px;
}
@media only screen and (max-width: 500px) {
  .login-container {
    width: 100%;
    padding: 20px;
  }
}
